@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.fm-main-div {
    height: 100dvh;
    width: 100dvw;
    overflow-x: hidden;
    overflow-y: auto;
}

.fm-navbar-border {
    border-bottom: 1px solid #7b8794;
}

.fm-logo {
    height: 65px;
    width: 70px;
}

.fm-nav-items-div {
    color: #323f4b;
    font-family: "Roboto";
    margin-top: 12px;

    @media (min-width: 1024px) {
        margin-top: 0px;
    }
}

.fm-home-bg {
    background-image: url("Images/foodmunch-banner-bg.png");
    background-size: cover;
    height: 100dvh;
}

.fm-home-h1 {
    color: white;
    font-size: 45px;
    font-weight: 300;
    font-family: "Roboto";
}

.fm-home-p {
    color: #f5f7fa;
    font-size: 24px;
    font-weight: 300;
    font-family: "Roboto";
}

.fm-home-view-btn {
    height: 45px;
    width: 130px;
    color: white;
    background-image: linear-gradient(#d0b200, #a58d00);
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.fm-home-order-btn {
    height: 45px;
    width: 130px;
    color: #d0b200;
    background-color: transparent;
    border: 1px solid #d0b200;
    border-radius: 8px;
}

.fm-wcu {
    background-color: #f9fbfe;
}

.fm-padding-top-div {
    padding-top: 110px;
}

.fm-wcu-h1 {
    color: #183b56;
    font-size: 28px;
    font-weight: 700;
    font-family: "Roboto";
}

.fm-wcu-p {
    color: #5a7184;
    font-size: 16px;
    font-family: "Roboto";
}

.fm-wcu-card {
    text-align: center;
    background-color: white;
    border: 1px solid #e5eaf4;
    border-radius: 16px;
}

.fm-wcu-card-img {
    height: 90px;
    width: 87px;
}

.fm-wcu-card-h1 {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
}

.fm-wcu-card-p {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
}

.fm-wcu-card-span {
    color: #323f4b;
    font-style: italic;
    font-weight: 600;
}

.explore-menu-section {
    background-color: white;
}

.fm-explore-h1 {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.fm-explore-card {
    border-radius: 16px;
}

.fm-explore-card-img {
    border-radius: 16px;
}

.fm-explore-card-h1 {
    color: #323f4b;
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto";
    margin-top: 24px;
}

.fm-explore-card-a {
    color: #d0b200;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto";
}

.fm-padding-bottom-div {
    padding-bottom: 110px;
}

.fm-food {
    background-color: #f9fbfe;
}

.fm-food-img {
    width: 270px;
}

.fm-food-h1 {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.fm-food-p {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.fm-pay-img {
    width: 270px;
}

.fm-pay-h1 {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.fm-pay-p {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.fm-pay-card {
    width: 50px;
    height: 50px;
    margin-right: 28px;
}

.fm-thank-bg {
    background-image: radial-gradient(#fff8db, #fae38c);
    background-size: cover;
}

.fm-thank-h1 {
    color: #183b56;
    font-size: 28px;
    font-weight: 700;
    font-family: "Roboto";
}

.fm-thank-p {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.fm-thank-img {
    width: 270px;
    margin-bottom: 20px;
}

.fm-thank-modal-h1 {
    color: #d0b200;
    font-weight: 800;
}

.fm-follow-main-div {
    background-color: white;
}

.fm-follow-h1 {
    color: #183b56;
    font-size: 28px;
    font-weight: 700;
    font-family: "Roboto";
}

.fm-follow-margin-div {
    margin-left: 15px;

    @media (min-width: 768px) {
        margin-left: 4vw;
    }
}

.fm-follow-margin-div:first-child {
    margin-left: 0px;
}

.fm-follow-i-div {
    background-color: #faf7e8;
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.fm-follow-i {
    color: #d0b200;
    font-size: 35px;
}

.fm-footer-div {
    background-color: #0d2436;
}

.fm-footer-h1 {
    color: #959ead;
    font-weight: bold;
    font-size: 16px;
    font-family: "Roboto";
    margin-top: 20px;
}

.fm-footer-p {
    color: #959ead;
    font-size: 14px;
    font-family: "Roboto";
}