@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    overflow: hidden;
}

.dashboard-background {
    background-color: #ffffff;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.dashboard {
    height: 100vh;
    width: 300px;
    background-color: #002159;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    padding-left: 40px;
}

.dashboard-menu {
    color: #ffffff;
    font-family: "Roboto";
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.dashboard-heading {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
}

.dashboard-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
}

.icon-element {
    font-size: 32px;
    margin-right: 20px;
}

.icon-heading {
    font-size: 26px;
    font-family: "Roboto";
}

.icon-element-background {
    background-color: #296eff;
    width: 100%;
}

.icon-image {
    height: 70px;
    width: 70px;
    border-style: solid;
    border-width: 0px;
    border-radius: 60px;
    margin-right: 30px;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-name {
    color: #ffffff;
    font-size: 22px;
    font-family: "Roboto";
}

.favourites-section {
    height: 100vh;
    padding: 30px;
    overflow-y: scroll;
}

.favourites-section-heading {
    color: #002159;
    font-size: 36px;
    font-weight: bold;
    font-family: "Roboto";
    margin-bottom: 10px;
}

.cars-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-grow: 1;
}

.cars-section-heading {
    color: #002159;
    font-size: 28px;
    font-weight: bold;
    font-family: "Roboto";
    margin-bottom: 24px;
}

.section-images {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-bottom: 24px;
}

.images {
    height: 30%;
    width: 30%;
    border-style: solid;
    border-width: 0px;
    border-radius: 20px;
    margin-right: 5%;
}

.images:last-child {
    margin-right: 0%;
}